.container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: rgb(87, 170, 242);
   color: azure;
   font-size: large;
}

.container b {
   margin-bottom: 0px;
   padding-bottom: 2px;
   border-bottom: solid;
   border-width: 2px;
}

.container div {
    margin: 40px;
}

.services li {
   display: block;
   margin-top: 10px;
   text-decoration: none;
   font-size: large;
   cursor: pointer;
}
