.element {
    display: flex;
    border-style: solid;
    margin: 33px;
    padding: 20px;
    border-width: 1px;
}

.element span {
    margin: 22px;
    text-decoration: none;
    color: black;
}


@media (min-width: 500px) and (max-width: 800px){
    .element span {
        justify-content: center;
    }
}