.element {
    display: flex;
    background-color: rgb(172,172,172);
    opacity: 0.9;
    border-bottom: solid 0.5px white;
}

.element span {
    text-decoration: none;
    padding: 50px;
    color:white;
    border-right: solid 0.5px white;
    padding: 15px;
}


@media (min-width: 500px) and (max-width: 800px){
    .element span {
        justify-content: center;
    }
}