.element {
    display: flex;
    padding: 20px;
    background-color: rgb(172,172,172);
}

.element span {
    margin: 22px;
    text-decoration: none;
    color:white;
}


@media (min-width: 500px) and (max-width: 800px){
    .element span {
        justify-content: center;
    }
}