.appointment {
    position: fixed;
    width: 500px;
    top: 100px;
    text-align: center;
    padding: 50px;
    border: 1px solid;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: -30px;
    background-color: white;
}

.appointment button {
    display: block;
    width: 80%;
    padding: 6px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.buttonStyle {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    position:fixed;
    top: 200px;
    right: 35px;
    margin: 10px;
    font-size: x-large;
    transition: 2s;
}

.buttonStyle:hover {
    background-color: whitesmoke;
}


