.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointment {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    position: fixed;
    width: 50%;
    height: 80%;
    top: 100px;
    padding: 50px;
    border: 1px solid;
    background-color: white;
}

.appointment input {
    margin-top: 8px;
}

.appointment button {
    display: block;
    border: 1px solid black;
    margin: 3px;
}

.buttonStyle {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    position:fixed;
    top: 200px;
    right: 35px;
    margin: 10px;
    font-size: x-large;
    transition: 2s;
}

.buttonStyle:hover {
    background-color: whitesmoke;
}

.title {
    margin-top: 0px;
    font-size:x-large;
}

.appointment label {
    display: block;
}



