.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointment {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    position: fixed;
    width: 40%;
    height: 85%;
    top: 60px;
    padding: 50px;
    border-radius: 8px;
    background-color: white;
}

.appointment input {
    margin-top: 8px;
}

.appointment button {
    display: block;
    color: white;
    background-color: rgb(87, 170, 242);
    margin: 3px;
    cursor: pointer;
}

.buttonStyle {
    border: none;
    color: white;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    position:fixed;
    top: 200px;
    right: 35px;
    margin: 10px;
    font-size: x-large;
    transition: 0.5s;
    background-color: rgb(172,172,172);
}

.buttonStyle:hover {
    background-color: rgb(87, 170, 242);
    color: azure;
    border: solid  rgb(87, 170, 242) 1px;
}

.title {
    margin-top: 0px;
    font-size:x-large;
}

.appointment label {
    display: block;
}



