.formStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    margin-left: 470px;
    margin-right: 470px;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 7px;
}

.formStyle button {
    margin: 5px;
}

.labelStyle {
    padding: 10px;

}

.inputStyle {
    width: 70%;
    padding: 6px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
}
