.topnav {
    padding: 30px;
    background-color: rgb(172,172,172);
    opacity: 0.9;
    border-top: solid 0.5px white;
}

.topnav li {
    display: inline;
    margin: 22px;
    text-decoration: none;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.topnav li:active {
    font-weight: bold;
}

.topnav li:hover {
    font-weight: bold;
}

