.buttonStyle {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    position:absolute;
    top: 200px;
    right: 35px;
    margin: 10px;
    font-size: x-large;
}