.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px;
    margin-top: 80px;
}

.container div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 30%;
}

.container label {
    padding: 2px;
}

.container p {
    color: red;
}


@media (max-width: 1134){
    .formStyle {
    align-items: flex-start;
    }
}