.formStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    margin-left: 470px;
    margin-right: 470px;
    margin-top: 50px;
    border-radius: 7px;
}

.inputStyle {

    width: 70%;
    padding: 4px;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
}

.inputStyle:focus {
    background-color:antiquewhite;
}

.labelStyle {
    padding: 9px;
}

.formStyle p {
    color: red;
    padding-top: 0px;
    margin-top: 2px;
}

.formStyle button {
    margin: 10px;
}

@media (max-width: 1134){
    .formStyle {
    align-items: flex-start;
    }
}